<h1>{{title}}</h1>

<div class="content">
  {{{body}}}
</div>

<footer>
  {{#if prev.id}}
    <div>Prev: <a href="/blog/{{prev.id}}">{{prev.title}}</a></div>
  {{/if}}
  {{#if next.id}}
    <div>Next: <a href="/blog/{{next.id}}">{{next.title}}</a></div>
  {{/if}}
</footer>

<style>
  footer { margin-top: 10rem; } .content h2 { font-size: 1.4em; font-weight:
  500; } .content pre { background-color: #f9f9f9; box-shadow: inset 1px 1px 5px
  rgba(0, 0, 0, 0.05); padding: 0.5em; border-radius: 2px; overflow-x: auto; }
  .content pre code { background-color: transparent; padding: 0; } .content ul {
  line-height: 1.5; } .content li { margin: 0 0 0.5em 0; }
</style>